@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  /* taken from tailwind */
  --white: #fff;
  --gray-50: #f8fafc; /* slate */
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --blue-300: #93c5fd;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --red-500: #e11d48;
}

/* ====  CSS reset defaults ==== */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--gray-900);
}

dialog {
  margin: auto !important;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* ============================= */

.container-90 {
  width: 90%;
  margin: 0 auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

/* ======== tool widgets ======== */

#grid-size, #tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#constraint-number {
  width: 4rem;
  margin-left: 0.5rem;
}

#message {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: max-content;
  transform: translate(-50%, 0);
}

.text-input {
  display: block; 
  padding: 0.5rem; 
  background-color: var(--gray-50); 
  color: var(--gray-900); 
  font-size: 0.75rem;
  line-height: 1rem; 
  width: 100%; 
  border-style: solid;
  border-radius: 0.5rem; 
  border-width: 1px; 
  border-color: var(--gray-300); 
}

.text-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--blue-500);
}

.select-input {
  display: block; 
  padding: 0.5rem; 
  background-color: var(--gray-50); 
  color: var(--gray-900); 
  font-size: 0.75rem;
  line-height: 1rem; 
  border-style: solid;
  border-radius: 0.5rem; 
  border-width: 1px; 
  border-color: var(--gray-300); 
}

.select-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--blue-500);
}

.btn {
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  border-radius: 0.5rem; 
  border: none;
  white-space: nowrap;
}

.btn[disabled], select[disabled] { cursor: not-allowed; }

.btn-fill {
  background-color: var(--gray-800); 
  color: var(--white); 
}

.btn-fill:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 4px rgba(203,213,225,.5);
}

.btn-fill:hover {
  background-color: var(--gray-900); 
}

.btn-fill[disabled] {
  background-color: var(--gray-500);
  color: var(--gray-200);
}

.btn-outline {
  background-color: var(--white);
  color: var(--gray-900);
  border: 1px solid var(--gray-300);
}

.btn-outline:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 4px rgba(226,232,240,.5);
}

.btn-outline:hover {
  background-color: var(--gray-100);
}

.btn-outline[disabled] { color: var(--gray-500); }
.btn-outline[disabled]:hover { background-color: var(--white); }

.add-tools {
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 500;
  background-color: var(--white);
  border: solid;
  border-width: 1px;
  border-color: var(--gray-200);
  border-radius: 0.5rem;
  list-style: none;
  padding: 0;
}

.add-tools-item {
  width: 100%;
  border-right: solid;
  border-color: var(--gray-200);
  border-right-width: 1px;
}

.add-tools-item-div {
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.add-tools-radio-input {
  background-color: var(--gray-100); 
  color: var(--blue-600);
  width: 1rem; 
  height: 1rem; 
  border-color: #D1D5DB; 
}

.add-tools-radio-label {
  white-space: nowrap;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  margin-left: 0.5rem; 
  color: var(--gray-900); 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  width: 100%; 
}

/* ============================== */

/* =========== puzzle ============= */

#grid {
  width: max(300px, 20%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: solid 2px var(--gray-900);
  margin-bottom: 2rem;
}

.cell {
  border: dashed 1px var(--gray-200);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  padding: 5%;
  position: relative;
}

.cell > p { height: 100%; }
.cell > p:focus { outline: 2px dashed var(--blue-300); }

.cell:hover {
  background-color: var(--gray-100);
}

.cell-dash::before {
  content: "";
  width: 85%;
  height: 10%;
  position: absolute;
  margin: auto;
  inset: 0;
  background-color: var(--blue-600);
}

.cell-bar::before {
  content: "";
  width: 10%;
  height: 85%;
  position: absolute;
  margin: auto;
  inset: 0;
  background-color: var(--red-500);
}

.cell-highlighted {
  background-color: var(--gray-100);
}

.bad-cell::after {
  content: "";
  position: absolute;
  margin: auto;
  inset: 0;
  width: 25%;
  height: 25%;
  border: 2px solid var(--red-500);
  border-radius: 50%;
  opacity: 50%;
}

.bad-territory::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 10%;
  width: 20%;
  height: 30%;
  border: 2px solid var(--red-500);
  opacity: 50%;
}

.empty::after {
  content: "";
  position: absolute;
  margin: auto;
  inset: 0;
  width: 10%;
  height: 10%;
  background-color: var(--red-500);
  opacity: 50%;
}

/* ================================ */

/* ========= about modal ========= */

#open-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: none;
}

#open-modal span {
  border: 1px solid black;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
}

dialog {
  border: none;
  background-color: var(--white); 
  border-radius: 0.5rem;
  max-width: 50rem; 
  padding: 1.25rem; 
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog[open] {
  animation: fade-in 300ms ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header {
  display: flex; 
  margin-bottom: 1.25rem; 
  justify-content: space-between; 
}

.modal-header button {
  display: inline-flex; 
  padding: 0.375rem; 
  background-color: transparent; 
  color: var(--gray-300); 
  font-size: 1rem;
  line-height: 1.25rem; 
  border-radius: 0.5rem; 
  border-style: none;
  cursor: pointer;
}

.modal-header button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.modal-header button:hover {
  background-color: var(--gray-200); 
  color: var(--gray-900); 
}

.modal-header svg {
  width: 1rem;
  height: 1rem;
}

.modal-content {
  font-size: 0.875rem;
  color: var(--gray-500); 
}

.modal-content p, .modal-content ul {
  margin-bottom: 0.75rem; 
}

.mini-dash, .mini-bar {
  position: relative;
  height: 15px;
  width: 15px;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--gray-600);
  background: none;
  margin: 0 2px;
  transform: translateY(-4px);
}

.mini-dash::before {
  content: "";
  width: 85%;
  height: 20%;
  position: absolute;
  margin: auto;
  inset: 0;
  background-color: var(--blue-600);
}

.mini-bar::before {
  content: "";
  width: 20%;
  height: 85%;
  position: absolute;
  margin: auto;
  inset: 0;
  background-color: var(--red-500);
}

/* ================================ */


/* ========== utils ============= */

.loading {
  --loading-width: 2.5px;
  --loading-color: dimgray;
  --below-color: #f3f3f3;
  border: var(--loading-width) solid var(--below-color);
  border-top: var(--loading-width) solid var(--loading-color);
  border-bottom: var(--loading-width) solid var(--loading-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
